
#container {
    margin: 40px;
    margin-top: 125px;
}
#textColP{
    font-size: 40 !important;
}
#firstName, #lastName {
    text-transform: capitalize;
} 
#firstName:focus, #lastName:focus {
    text-transform: none;
}
#guestCountError {
    color: #a94442;
}
.help-block {
    text-align: right;
}
#mainRow {
    color: #282828;
    background-color: #FFFFFF;
}
button {
    border-radius: 100px !important;
    border: 1px solid #282828 !important;
    background-color: #FFFFFF !important;
    color: #282828 !important;
}

@media (max-width: 1200px) {
    #container {
        margin-top: 0px;
    }
}